<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.datayes.clouddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- for mta statistics, not necessary-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudDemo">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserInfoDemoActivity"
            android:theme="@style/AppTheme.W1" />

        <activity
            android:name=".webview.WebViewDemoActivity"
            android:theme="@style/AppTheme.W1" />

        <activity
            android:name=".FundDemoActivity"
            android:theme="@style/AppTheme.W1" />


        <!-- 接受微信响应 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.datayes.clouddemo"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 通联app_id -->
        <meta-data
            android:name="my_app_id"
            android:value="robo" />
        <!-- 通联app_secret -->
        <meta-data
            android:name="my_app_secret"
            android:value="robo" />
        <!-- 通联regisger_source 注册来源 -->
        <meta-data
            android:name="my_regisger_source"
            android:value="robo " />
        <!-- 渠道 -->
        <meta-data
            android:name="CHANNEL"
            android:value="xiaomi" />

    </application>

    <!-- 兼容Android11,无法唤起微信 -->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

</manifest>